body{
    background-color: purple;
    font: normal 15pt Arial;
}

header{
    color: white;
    text-align: center;
}

.container{
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    justify-items: center;

}

#topo{
    padding: 5px;

}

.resultadoNotas{
    display:inline-flex;
    padding: 5px;
}